body{
    margin: 0%;
}
#body-header{
    height: 100vh;
    background-image: url("image/macbook_mouse.jpg");
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    padding: 4px;;
}
.horizontal-list{
list-style: none;
padding: 0%;
font-size: 2rem;


}
.horizontal-list li{
    display: inline-block;
    margin: 0px 25px 25px 0px;
}
.horizontal-list a{
    color:white;
    text-decoration: none;
    transition: 0.05cs, border-bottom 4cs;

}

/* .horizontal-list a:hover{
    color: rgb(187, 25, 47);
    border-bottom: 2px solid rgb(235, 185, 162); 
}*/
.text-center{
    text-align: center;
}
#name-social-container{
    margin-top: 20vh;
}
#my-name{
    font-size: 3rem;
    letter-spacing:0.1rem ;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.social-icons li a i{
    padding: 10px;
    font-size: 2rem;
    border-radius:50%;
}
    
